body {
    background: #7a1f2b;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5C2D3A;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.logo-container img {
    width: 60px; 
    border: 2px solid #fff;
    border-radius: 50%;
}

.user-icon-container img {
    width: 40px;
    padding: 5px; 
    background-color: #fff;
    border-radius: 50%;
}
.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #5d0f15;
    text-align: center;
}

#titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 35px;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.linha input {
    width: 48%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    color: white;
    font-size: 15px;
}

.linha-centro input {
    width: 60%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    color: white;
    font-size: 15px;
    margin: 20px auto;
}

input::placeholder {
    color: #5a0b0b;
}

.senha {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.senha input {
    width: 60%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    color: white;
    font-size: 15px;
}


.botao {
    margin-top: 25px;
    padding: 12px 40px;
    background: #a22a1f;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.botao:hover {
    background: #8b1f18;
}