main {
    min-height: 100vh;
    background-color: darkred;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    box-sizing: border-box;
}

section {
    background-color: white;
    text-align: center;
    color: black;
    font-size: 28px;
    width: 70%;
    max-width: 22rem;
    padding: 3.5rem;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-shadow: darkred;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

input {
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    width: 15rem;
    margin-top: 25px;
    background-color: darkred;
    color: aliceblue;
}

.botao {
    background-color: darkred;
    color: aliceblue;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

.botao:hover {
    background-color: red;
}
